$primaryTextColor: #c2185b;
$secondaryTextColor: white;
$background-color: #ffcdd2;

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: $background-color;
  .logo {
  }
  .routes {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0 1rem;
    .links {
      color: $primaryTextColor;
      text-decoration: none;
      &.active,
      &:visited.active {
        color: $secondaryTextColor;
      }
      &:visited {
        color: $primaryTextColor;
      }
    }
  }
}
