$backgroundColor: #FFF;

.card {
    width: 26rem;
    height: 6rem;
    flex-shrink: 0;
    border-radius: 0.95356rem;
    background: $backgroundColor;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  }
  