$background-color: #f4998d;

.trackerLayout {
  display: flex;
  min-height: 100vh;
  .trackerLayout__content {
    background-color: black;
    flex-grow: 2;
  }
  .trackerLayout__calender-container {
    font-size: 0.6rem;

    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-grow: 1;
    background-color: $background-color;
    padding: 0 2rem;
    .trackerLayout__calender {
      position: fixed;
      right: 1rem;
    }
  }
}
